<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">VizUI</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">System Info</a>
        <a class="nav-item nav-link active" href="domainlist">Instances</a>
        <a class="nav-item nav-link active" href="#">Storage</a>
        <a class="nav-item nav-link active" href="#">Networking</a>
        <a class="nav-item nav-link active" href="#">Interfaces</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/mdigiacomi" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/mdigiacomi" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>
